<div class="booking-background">
<br>
<br>
<br>
<div class="booking-image-welcome">
<%=image_tag "rioter.jpg", class: "booking-image"%>
<div class="welcome-info-big-box">
<div class ="welcome-info">
<h1>Hey</h1><h1 class="booking-welcome"><%=@user.email.split("@")[0]%>,</h1><h1>&nbsp;<strong>welcome to your bookings page! </strong></h1>
</div>
<div class='welcome-info-info'>
  <h4>Here, you can view any rioter bookings you have arranged. Unfortunately, due to the nature of our services, you cannot cancel your bookings.</h4>
  <br>
  <h4>Happy rioting and don't forget to leave a review!</h4>
</div>
</div>
</div>
<div class="container">
  <div class="move-up">
    <%if current_user.bookings%>
<%current_user.bookings.each do |booking|%>
  <div class="booking-card">
    <%= cl_image_tag booking.rioter.picture, class: "booking-pic"%>
    <div class="content-box">
      <h1><strong><u><%=booking.rioter.name%></u></strong></h1>
      <h4><strong>Location:</strong>&nbsp;<%=booking.location%></h4>
       <h4><strong>Date:</strong>&nbsp;<%=booking.start.to_date%></h4>
      <h4><strong>Duration:</strong>&nbsp;<%=booking.start.strftime("%I:%M %P")%>&nbsp;-&nbsp;<%=booking.end.strftime("%I:%M %P")%></h4>
      <br>
      <h4><strong>Total rioting time:</strong>&nbsp;<%='%.2f' % ((booking.end - booking.start)/3600)%> hours</h4>
      <h4><strong>Total cost:</strong>&nbsp;£<%= '%.2f' % (booking.rioter.rate * (booking.end - booking.start)/3600)%></h4>
      <br>
      <%= link_to "Leave a review, or book again", booking.rioter, class: "review-submit-button"%>
    </div>
  </div>
<% end %>
   <%else%>
    <br>
   <br>
   <br>
   <h1 class="booksnil">You have no bookings!</h1>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <%end%>
</div><!-- closing row -->
</div>

