<%#= link_to , EACH RIOTER'S SHOW PAGE %>

<div class="card-product">

  <% if rioter.picture? %>
    <%= cl_image_tag rioter.picture, height: 300, width: 350 %>
  <% else %>
    <%= image_tag "rioter.jpg" %>
  <% end %>

  <div class="card-product-infos">
    <h2> <%= rioter.name %> </h2>
    <% rioter.skills.each do |skill| %>
      <p><%= skill.name %></p>
    <%end%>

    <h3> <strong> <%= '%.2f' % rioter.rate%>  </strong><span class="span">per hour</span></h3>
  </div>


</div>
