<div class='bgofpage'>
<br>
<br>
<br>
<div class="card-picture">
  <% if @rioter.picture %>
   <%= cl_image_tag @rioter.picture, class: "picturizer" %>
  <% else %>
    <%= image_tag "anonymous-avatar.png", class: "picturizer" %>
  <% end %>
    <div class="bloxy">
  <h2> <strong> <%= @rioter.name %></strong></h2>
    <p> <%= @rioter.description %></p>
    <h3><strong>Skills:</strong></h3>
    <% @rioter.skills.each do |skill| %>
      <h4><%= skill.name %></h4>
    <%end%>
  <br>
      <h3> <strong> Hourly price: £<%= @rioter.rate %></strong></h3>
        <h4><strong>Price Scale: </strong><% @rioter.rate.to_i.times do %>
          <img class="fist" src="https://cdn.clipart.email/092b0d0a3f11c6e8c95ca7dff9211511_power-fist-clipart_2000-2000.svg" alt="logo">
        <% end  %>
      </h4>
    </div>
</div>
<br>
<br>
<br>
<h1 class="cock">Book&nbsp;<strong><%=@rioter.name%></strong>&nbsp;for your chosen event</h1>

<div class="cock">
<div class="container-new-form">
<%= simple_form_for [@rioter, @booking] do |f| %>
  <%= f.input :location %>
  <%= f.input :start %>
  <%= f.input :end %>

  <%= f.submit %>
<% end %>
<br>
<%= link_to "Back to list", root_path %>
</div>
</div>
</div>
